/* concerne toute la page */
*{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

body {
	background-color:#FFFCC9;
	overflow-x: hidden;
}

/* header */
.headercomplet {
	    box-shadow: 5px 5px 5px #c0c0c0;
}
.headertop {
	
    display: flex;
    justify-content: space-between;
    padding-top: 2vh;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-bottom: 2vh;
    background-color: #429E9D ;
    border-bottom: #FFFCC9;
    border-bottom-style: solid;
    max-height: 50px;
    min-height: 40px;
}

.headerbottom {
		width:100vw;
    display: flex;
    justify-content: center;
    padding-top: 2vh;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-bottom: 2vh;
    background-color: #429E9D;
    max-height: 50px;
    min-height: 40px;
}
.connexion {
    display: flex;
    gap: 10px;
    font-size: larger;
}

/* main accueilconnecte et accueilnonconnecte*/
.mainConnecteEtNonConnecte {
    margin-top: 15vh;
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
}
.mainConnecteEtNonConnecte form {
    display: flex;
    justify-content: space-around;
}

.article {
	position:relative;
	padding-top:30px;
	padding-bottom:30px;
	border-style: solid;
	padding-left: 20px;
	padding-right: 20px;
	box-shadow: 5px 5px 5px #c0c0c0;
	border-radius: 25px;
    display: flex;
    align-items: center;
        justify-content: center;
    gap: 10%;
}


.article:hover {
	box-shadow: 5px 5px 5px #0f27e094;
}

.formulaireAchatsVentes {
    display: flex;
    justify-content: center;
    gap: 5vw;
    
    margin-top: 2vh;
    box-shadow: 9px 9px 11px #c0c09a;
	background-color: navajowhite;
    width: 40vw;
    min-width: 40vw;
    border-radius: 15px;
    height: 14vh;
    align-items: center;
}
.achatscheck {
	display: flex;
    flex-direction: column;
}

.ventescheck {
	display: flex;
    flex-direction: column;
}

/* Page connexion */
.seconnecter {
	display: flex;
    justify-content: center;
    margin-top: 15vh;
    border-style: double;
    box-shadow: 5px 5px 5px #c0c0c0;
    margin-left: 30vw;
    margin-right: 30vw;
    padding-top: 4vh;
    padding-bottom: 4vh;
    background-color: #D6FFE0;
}
.id {
	margin-bottom:10px;
}
.password {
	margin-bottom:10px;
}
.btnConnexion {
	margin-bottom:10px;
}
.checkboxConnexion {
	
	margin-bottom:10px;
}

.titre {
	text-align:center;
	margin-top:12vh;
	margin-bottom:5vh
}

.profil {
    display: flex;
    text-align: left;
    gap: 2vw;
    justify-content: center;
}

.touteslesencheres {
	display :grid;
	grid-template-columns: repeat(3,1fr);
	margin-top: 10vh;
	gap: 15px;
	    margin-left: 8vw;
    margin-right: 8vw;
}

/* page affichage article */
.affichagearticle {
	margin-top: 20vh;
    display: flex;
    justify-content: center;
    gap: 10vw;
}

.affichagearticle_img {

    box-shadow: 0px 0px 21px #15368d;
	border-radius: 25px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: fit-content;
    width: 30vw;
    height: 30vh;
    min-height: fit-content;
    }
    
.affichagearticle_infos {
		display: flex;
    box-shadow: 0px 0px 21px #15368d;
	border-radius: 25px;
    min-width: fit-content;
    width: 30vw;
    height: 30vh;
    min-height: fit-content;
    justify-content: center;
    align-items: center;
    }
    
.affichagearticle_infos_flex {

}
.imgarticle {
	max-width:200px;
}

.filtresetrechercher{
    display: flex;
    justify-content: center;
}

.filtresetrechercher form {
	box-shadow: 9px 9px 11px #c0c09a;
	background-color: navajowhite;
	align-items: center;
	gap: 3vw;
    width: 40vw;
      min-width: fit-content;
    border-radius: 15px;
    height: 45px;
}

.filtrenom {
	display:flex;
}

.logo {
	min-width:20vh;
    width: 20vh;
    max-width:25;
    box-shadow: 9px 9px 11px #c0c09a;
}

.logo:hover {
    	box-shadow: 9px 9px 11px #ffffff;
}

/*  pageconnect�*/
.centrageformulaireachatsventes {
	align-self: center;
}

.nomProduit {
	text-underline-position: under;
    font-size: larger;
    font-weight: bolder;
    text-transform: uppercase;
    font-family: cursive;
}

.piece {
	position:absolute;
    width: 20%;
    top:0px;
    right:0px;
}

.valeurarticle {
	position:absolute;
	    top:30px;
    right:40px;
}


.affichagemoncompte {
	text-align: -webkit-center;
}
.affichagemoncompte_2 {
	    box-shadow: 0px 0px 21px #15368d;
	border-radius: 25px;
   align-items: center;
    display: flex;
    justify-content: center;
    min-width: fit-content;
    width: 40vw;
    height: 40vh;
    min-height: fit-content;
}


.modifprofil {
	text-align: -webkit-center;
}
.modifprofil form {
	display: flex;
    flex-direction: column;
    align-items: center;
    	border-radius: 25px;
    	padding: 2%;
    		    box-shadow: 0px 0px 21px #15368d;
    		        width: 40vw;
    height: 40vh;
    margin-top: 15vh;
    min-height: fit-content;
}